<h1>Listing Comments</h1>
 
<table>
  <tr>
    <th>ID</th>
    <th>Article</th>
    <th>Body</th>
 
    <th colspan="3">Actions</th>
  </tr>
 
<% @comments.each do |comment| %>
  <tr>
    <td><%=h comment.id %></td>
    <td><%=h comment.article_title %></td>
    <td><%=h comment.body %></td>
 
    <td><%= link_to 'Show', resource(comment) %></td>
    <td><%= link_to 'Edit', resource(comment, :edit) %></td>
    <td><%= delete_button(comment, "Delete") %></td>
  </tr>
<% end %>
</table>
 
<%= link_to 'New Comment', resource(:comments, :new) %>