<h1>Listing Ratings</h1>
 
<table>
  <tr>
    <th>ID</th>
    <th>Article</th>
    <th>Body</th>
 
    <th colspan="3">Actions</th>
  </tr>
 
<% @ratings.each do |rating| %>
  <tr>
    <td><%=h rating.id %></td>
    <td><%=h rating.comment_body %></td>
    <td><%=h rating.rate %></td>
 
    <td><%= link_to 'Show', resource(@comment, rating) %></td>
    <td><%= link_to 'Edit', resource(@comment, rating, :edit) %></td>
    <td><%= delete_button(resource(@comment, rating), "Delete") %></td>
  </tr>
<% end %>
</table>
 
<%= link_to 'New Rating', resource(@comment, :ratings, :new) %>